---
settings:
  starttime: <%= Time.now %>
  ansible:
    basedir: provisioners/ansible
    windows_helper_script: scripts/windows.ansible-playbook.sh
  puppet:
    basedir: provisioners/puppet
  managed_nodes:
    required_keys:
      - box
      - ip
      - ssh_user
      - ssh_port
      - ssh_private_key_path    
  vagrant:
    default_include_statement: 'include'
    default_provider: 'virtualbox'
    is_true: true
    box_download_insecure: true
    sshkey: 'etc/sshkeys/vagrantkey'
    no_mount_vagrant: false
    # disable nfs for windows vhosts (for now)
    # see https://github.com/winnfsd/vagrant-winnfsd/issues/53
    use_nfs: false
    nfs_mount_options: 
      - rw
      - nolock
      - vers=3
      - udp
      - noatime
      - actimeo=1
    vm_network_default_mode: 'private_network'
    vm_usable_port_range_start: 2200
    vm_usable_port_range_end: 10000
    windows_vagrant_synced_folder_basedir: '/vagrant'
  # Platform detection
  platform:
    is_windows: <%= RbConfig::CONFIG['host_os'] =~ /mingw/ ? true : false %>
    is_osx: <%= RbConfig::CONFIG['host_os'] =~ /darwin/ ? true : false %>
    is_linux: <%= RbConfig::CONFIG['host_os'] =~ /linux/ ? true : false %>
  testing: <%= defined?(%{platform_is_windows}) ? :shit : :piss %>
  project:
    project_path: <%= File.expand_path('.', Dir.pwd) %>
  logging:
    debug: false
    logs_dir: './.vagrant/log'
  requirements:
      plugins:
        libvirt:
         - vagrant-hostsupdater
         - vagrant-group
         - vagrant-libvirt
         - vagrant-managed-servers
         - vagrant-hosts
        virtualbox:
         - vagrant-hostsupdater
         - vagrant-disksize
         - vagrant-group
         - vagrant-managed-servers
         - vagrant-vbguest
         - vagrant-hosts
