---
strings:
#-------------------------------------------------------------------------------
# Translations for exception classes
#-------------------------------------------------------------------------------
  info:
    boot_destroy: |-
      Destroying %s!
    boot_halt: |-
      Halting %s!
    boot_completed: |-
      Machine booted and ready!
    no_provisioners: |-
      No provisioners specified in node yaml for host %s
    provisioners:
      local:
        inline: |-
          Running local command: %s
        w_args: |-
          Running local script %s with args %s
        ok: |-
          Local command execution successful
  warnings:
    missing_plugin: |-
      You are missing at least one required vagrant plugin, install with:
    missing_plugin_install: |-
      rake init or vagrant plugin install %s
    synced_folder_not_found: |-
      Could not find path %s, skipping synced folder
    definition:
      skipping:
        Skipping node definition %s
      provisioners:
        malformed: |-
          The provisioners yaml structure for %s does not match type Hash
          Consult the node definition sample for proper syntax
          Skipping this entry ...
    libvirt_windows_os: |-
      Detected non-Windows Host OS
      Make sure you specify the proper hypervisor key:
        key hypervisor: 'libvirt' 
  errors:
    fso:
      operations:
        failure: |-
          There was a general failure in the attempt of this filesystem operation
          Error was: %s
    environment:
      path:
        notfound: |-
          The environment path you specified (%s) was not found.
          Because of this failure in node definitions, 
          Your nodes will not be listed and available for interaction.

    definition:
      yaml_syntax: |-
        %s fails yaml syntax check
      nobox: |-
        You didn't speficy a vagrant box in node definition %s
        Which either means you intend for the node to be of managed node type or
        you simply forgot to include a box specification.
        Consult the 'Usage' section in the README or review the node definition template 
        Under the 'examples' directory
    managed:
      checks_fail: |-
        The vagrant deployment for managed node %s will fail, 
        as it does not pass all requisite preflight checks 
      ssh_privatekey_notfound: |-
        Skipping managed node %s, 
        as I could not find the ssh private key being referenced %s
      missingkey: |-
        The node definition for %s is missing the following key(s):
      missingkeys: |-
         - %s        
    res: |-
      Could not reliably determine the hardware spec: %s
    exec: |-
      Something went wrong in executing the command you specified: %s
    generic: |-
      Something went terribly wrong
      Try calling the the same command, but this time, precede it with the 'debug' keyword
    loaderror: |-
      There was a problem loading a required library
      You may experience unexpected results!
      Error was: %s
      For the full backtrace, issue the same vagrant command but this time, precede it with the 'debug' keyword

